/* --- VARIABILI E RESET --- */
:root {
  --dc-blue: #0282f9;
  --dc-dark: #1c1c1c;
  --dc-light-dark: #222222;
  --dc-grey-text: #959595;
}

/* --- HEADER STYLES --- */

/* --- MAIN STYLES --- */
.jumbotron-hardcoded {
  height: 300px;
  background-color: var(--dc-light-dark);
}

.img-fluid {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
  display: block;
}

.current-series-button {
  position: absolute;
  top: -25px;
  left: 34%;
  transform: translateX(-50%);
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  z-index: 10;
}

.load-more-button {
  padding: 0.5rem 5rem;
  font-size: 1rem;
}

/* --- FOOTER STYLES --- */

/* Fascia Grigia Scuro (Hero Footer) */
.hero-footer {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/*//! non funziona */
.hero-footer ul li a:hover {
  color: white;
  text-decoration: underline;
}

/* logo DC in background (solo desktop) */
/*//todo  non sta dove voglio  */
.dc-logo-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  height: 600px;
  display: block;
}

.hero-footer .container .row {
  position: relative;
  z-index: 100;
}
